<!DOCTYPE html>
{% extends 'base.html' %}

{% block container %}

<h3>What's your choice?</h3>

<form method="POST">
    <button name ="guess" type="submit" value="r">Rock!</button> 
    <button name ="guess" type="submit" value="p">Paper!</button> 
    <button name ="guess" type="submit" value="s">Scissors!</button> 
</form>
<p>
    {{ message }}
    <br>
    Hello {{ username }}
    <br>
    Your credits: {{ credits }}
</p>
{% endblock %}

{% block stats %}
<form method="POST">
    <button name ="stats" type="submit" value="stats">YOUR STATS</button> 
</form>
{% endblock %}

</html>