<!DOCTYPE html>
{% extends 'base.html' %}

{% block container %}

<h3>GAME OVER</h3>
<p>
    <h3>Your stats:</h3>
    Name: {{ player.username }}
    <br><br>
    Id: {{ player.id }}
    <br><br>
    Date of the start of the game: {{ player.date_created }}
    <br><br>
    You played today {{ plays }} times!
    <br><br>
    You today win: {{ wins }} times!
    <br><br>
    You today lost: {{ losts }} times!
    <br><br>
    You today tie: {{ ties }} times!
    <br><br>


    <table>
        <thead>
           <tr>
            <th>User ID</th> <th>Credits before run</th> <th>Win</th> <th>Lost</th> <th>Tie</th> <th>Credits after run</th> <th>Date</th> <th>Time</th>
           </tr>
        </thead>
        <tbody>
            {% for i in stats %}
           <tr>
            <td>{{ i.user_id }}</td> <td>{{ i.credits_before }}</td> <td>{{ i.win }}</td> <td>{{ i.lost }}</td> <td>{{ i.tie }}</td> <td>{{ i.credits_after }}</td> <td>{{ i.date_created }}</td> <td>{{ i. datetime_created.strftime('%H:%M:%S') }}</td>
           </tr>
           {% endfor %}
        </tbody>
     </table>

</p>
<br><br>

{% endblock %}

{% block stats %}

<form method="POST">
    <button name ="guess" type="submit" value="new">Start new game</button> 
    <button name ="guess" type="submit" value="old">Continue game</button> 
</form>

{% endblock %}

{% block stats_all %}
<br><br>    <br><br>
<p>
    <h3>Your entire stats:</h3>
    You played {{ plays_all }} times!
    <br><br>
    You win: {{ wins_all }} times!
    <br><br>
    You lost: {{ losts_all }} times!
    <br><br>
    You tie: {{ ties_all }} times!
    <br><br>


    <table>
        <thead>
           <tr>
            <th>User ID</th> <th>Credits before run</th> <th>Win</th> <th>Lost</th> <th>Tie</th> <th>Credits after run</th> <th>Date</th> <th>Time</th>
           </tr>
        </thead>
        <tbody>
            {% for i in stats_all %}
           <tr>
            <td>{{ i.user_id }}</td> <td>{{ i.credits_before }}</td> <td>{{ i.win }}</td> <td>{{ i.lost }}</td> <td>{{ i.tie }}</td> <td>{{ i.credits_after }}</td> <td>{{ i.date_created }}</td> <td>{{ i. datetime_created.strftime('%H:%M:%S') }}</td>
           </tr>
           {% endfor %}
        </tbody>
     </table>

</p>
{% endblock %}

</html>